/nbproject/private/
/build/
/dist/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ecotouringweb/dist
ecotouringweb/tmp

# dependencies
ecotouringweb/node_modules
ecotouringweb/bower_components

# IDEs and editors
/.idea

# misc
ecotouringweb/.sass-cache
ecotouringweb/connect.lock
ecotouringweb/coverage/*
ecotouringweb/libpeerconnection.log
ecotouringweb/npm-debug.log
npm-debug.log
ecotouringweb/testem.log
ecotouringweb/typings

# e2e
ecotouringweb/e2e/*.js
ecotouringweb/e2e/*.map

