<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row showcase">
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon"><i class="fa fa-road"></i>
                    </div>
                    <h4><span class="counter">580</span><br>Lugares</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon"><i class="fa fa-users"></i>
                    </div>
                    <h4><span class="counter">100</span><br>Turistas</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon"><i class="fa fa-bed"></i>
                    </div>
                    <h4><span class="counter">320</span><br>Hoteles</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="icon"><i class="fa fa-shopping-cart"></i>
                    </div>
                    <h4><span class="counter">923</span><br>Tiendas</h4>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
<script src="js/jquery.counterup.min.js"></script>