<header>
<!-- *** TOP ***
_________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 contact">
                    <p class="hidden-sm hidden-xs" style="font-family: 'Bad Script', cursive;">Ecotouring the best site for your trip.</p>
                    <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </p>
                </div>
                <div class="col-xs-7">
                    <div class="social">
                        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </div>

                    <div class="login">
                        <a href="#" data-toggle="modal" data-target="#login-modal" *ngIf="!isLogged"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
                        <a [routerLink]="['Signup']" *ngIf="!isLogged"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Sign up</span></a>
                        <a [routerLink]="['Profile']" *ngIf="isLogged"><i class="fa fa-male"></i> <span class="hidden-xs text-uppercase">{{userToken.fullName}}</span></a>
                        <a href="#" *ngIf="isLogged" (click)="onLogOut()"><i class="fa fa-sign-out"></i> <span class="hidden-xs text-uppercase">Log out</span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- *** TOP END *** -->

    <!-- *** LOGIN MODAL ***
    _________________________________________________________ -->

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Login</h4>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onLogin(login)" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email_modal" placeholder="Correo electrónico" required [(ngModel)]="login.email" ngControl="emailLogin" #emailLogin="ngForm">
                            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="emailLogin.valid || emailLogin.pristine">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                Email vacío o inválido.
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password_modal" placeholder="password" required [(ngModel)]="login.password" ngControl="passwordLogin" #passwordLogin="ngForm">
                            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="passwordLogin.valid || passwordLogin.pristine">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                Password vacío o inválido.
                            </div>
                        </div>

                        <p class="text-center">
                            <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
                        </p>

                    </form>

                    <p class="text-center text-muted">Aún no está registrado?</p>
                    <p class="text-center text-muted"><a [routerLink]="['Signup']"><strong>Registrate</strong></a>! Es fácil y toma menos de 1 minuto, aprovecha los descuentos y crea tus paquetes para disfrutar de la naturaleza!</p>

                </div>
            </div>
        </div>
    </div>

    <!-- *** LOGIN MODAL END *** -->

    <!-- *** NAVBAR ***
    _________________________________________________________ -->

    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

        <div class="navbar navbar-default yamm" role="navigation" id="navbar">

            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand home" href="/" style="font-family: 'Bad Script', cursive;font-size: 20pt;padding: 0px;line-height:60px">
                        Ecotouring Ecologic Trips
                    </a>
                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown active">
                            <a [routerLink]="['Home']" class="dropdown-toggle" data-toggle="dropdown">Inicio </a>
                        </li>
                        <li class="dropdown" *ngIf="isLogged && userToken.role === 'SUPPLIER'">
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Proveedor <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a [routerLink]="['/ServiceForm']" >Crear servicio</a></li>
                                <li><a [routerLink]="['PackageServiceForm']">Crear paquete</a></li>
                                <li><a [routerLink]="['/Categories', 'ItemsSupplier', {supplier : userToken.id}]">Mis productos</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" *ngIf="isLogged && userToken.role === 'USER'">
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Cliente <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a [routerLink]="['ShoppingCart']" >Mi carrito</a></li>
                                <li><a href="index.html">Historial de compras</a></li>
                                <li><a href="index.html">Mensajes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" *ngIf="isLogged && userToken.role === 'ADMIN'">
                            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Administrador <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a [routerLink]="['CreateUserForm']">Crear proveedor</a></li>
                                <li><a href="index.html">Mensajes</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->

            </div>


        </div>
        <!-- /#navbar -->

    </div>

    <!-- *** NAVBAR END *** -->

</header>
<div style="min-height: 200px">
    <router-outlet></router-outlet>
</div>
<!-- *** FOOTER ***
_________________________________________________________ -->
<footer id="footer">
<div class="container">
    <div class="col-md-3 col-sm-6">
        <h4>Acerca de nosotros</h4>

        <p>Somos una plataforma para que encuentres los mejores lugares y planes para vivir mejor nuestra biodiversidad.</p>

        <hr>

        <h4>Inscríbete a nuestro newsletter</h4>

        <form>
            <div class="input-group">

                <input type="text" class="form-control">

                <span class="input-group-btn">

            <button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>

        </span>

            </div>
            <!-- /input-group -->
        </form>

        <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-6">

        <h4>Blog</h4>

        <div class="blog-entries">
            <div class="item same-height-row clearfix">
                <div class="image same-height-always">
                    <a href="#">
                        <img class="img-responsive" src="img/detailsquare.jpg" alt="">
                    </a>
                </div>
                <div class="name same-height-always">
                    <h5><a href="#">Blog post name</a></h5>
                </div>
            </div>

            <div class="item same-height-row clearfix">
                <div class="image same-height-always">
                    <a href="#">
                        <img class="img-responsive" src="img/detailsquare.jpg" alt="">
                    </a>
                </div>
                <div class="name same-height-always">
                    <h5><a href="#">Blog post name</a></h5>
                </div>
            </div>

            <div class="item same-height-row clearfix">
                <div class="image same-height-always">
                    <a href="#">
                        <img class="img-responsive" src="img/detailsquare.jpg" alt="">
                    </a>
                </div>
                <div class="name same-height-always">
                    <h5><a href="#">Very very long blog post name</a></h5>
                </div>
            </div>
        </div>

        <hr class="hidden-md hidden-lg">

    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-6">

        <h4>Contact</h4>

        <p><strong>Universal Ltd.</strong>
            <br>13/25 New Avenue
            <br>Newtown upon River
            <br>45Y 73J
            <br>England
            <br>
            <strong>Great Britain</strong>
        </p>

        <a href="contact.html" class="btn btn-small btn-template-main">Go to contact page</a>

        <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-md-3 -->



    <div class="col-md-3 col-sm-6">

        <h4>Photostream</h4>

        <div class="photostream">
            <div>
                <a href="#">
                    <img src="img/detailsquare.jpg" class="img-responsive" alt="#">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="img/detailsquare2.jpg" class="img-responsive" alt="#">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="img/detailsquare3.jpg" class="img-responsive" alt="#">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="img/detailsquare3.jpg" class="img-responsive" alt="#">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="img/detailsquare2.jpg" class="img-responsive" alt="#">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="img/detailsquare.jpg" class="img-responsive" alt="#">
                </a>
            </div>
        </div>

    </div>
    <!-- /.col-md-3 -->
</div>
<!-- /.container -->
</footer>
<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
  <div class="container">
      <div class="col-md-12">
          <p class="pull-left">&copy; 2016. Ecotouring Web Site</p>
          <p class="pull-right">Made with love from Colombia <i class="fa fa-heart"> </i></p>
          <p class="pull-right" style="display:none">Template by <a href="http://bootstrapious.com">Bootstrap 4 Themes</a> with support from <a href="http://kakusei.cz">Designové předměty</a> 
              <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
          </p>

      </div>
  </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->