<div class="row" id="productMain">
    <div class="col-sm-6">
        <div id="mainImage">
            <img src="{{ imageMain }}" alt="" class="img-responsive">
        </div>
        
        <div class="ribbon sale" *ngIf="item.itemType === 'PACKAGE'">
            <div class="theribbon">PAQUETE</div>
            <div class="ribbon-background"></div>
        </div>
         

         <!--
        <div class="ribbon new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
        </div>
         /.ribbon -->

    </div>
    <div class="col-sm-6">
        <div class="box">

            <form>
                <div class="sizes">

                    <h3>{{ item.name }}</h3>

                    <!-- /.icon 
                    <label for="size_s">
                        <a href="#">S</a>
                        <input type="radio" id="size_s" name="size" value="s" class="size-input">
                    </label>
                    -->

                    <input id="input-3" value="5" class="rating-loading">

                </div>

                <p class="price">${{ item.price }}</p>

                <p class="text-center">
                    <button type="submit" class="btn btn-template-main" (click)="onAddCartItem(item)" [disabled]="!isLogged"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                    <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart-o"></i>
                    </button>
                </p>

            </form>
        </div>

        <div class="row" id="thumbs">
            <div class="col-xs-4" *ngFor="#image of itemMedia">
                <a href="{{image.url}}" class="thumb">
                    <img src="{{image.url}}" alt="" class="img-responsive">
                </a>
            </div>
        </div>
    </div>

</div>


<div class="box" id="details">
    <p>
        <h4 [ngSwitch]="itemCategory">
          <template [ngSwitchWhen]="'ECOTOUR'">Nombre del Tour</template>
          <template [ngSwitchWhen]="'ACCOMMODATION'">Nombre del Hotel</template>
          <template [ngSwitchWhen]="'TRANSPORT'">Nombre del Servicio</template>
          <template [ngSwitchWhen]="'ALIMENTATION'">Nombre del Restaurante</template>
          <template ngSwitchDefault>Nombre del paquete</template>
        </h4>
        <p>{{ item.name }}</p>
        
        <h4 *ngIf="itemCategory === 'ECOTOUR'">Tipo de tour</h4>
        <p *ngIf="itemCategory === 'ECOTOUR'">{{ item.ecoTourType }}</p>

        <h4 *ngIf="itemCategory === 'TRANSPORT'">Tipo de transporte</h4>
        <p *ngIf="itemCategory === 'TRANSPORT'">{{ item.type }}</p>

        <h4 *ngIf="itemCategory === 'TRANSPORT'">Origen</h4>
        <p *ngIf="itemCategory === 'TRANSPORT'">{{ item.origin }}</p>
        <h4 *ngIf="itemCategory === 'TRANSPORT'">Destino</h4>
        <p *ngIf="itemCategory === 'TRANSPORT'">{{ item.destination }}</p>
        <h4 *ngIf="itemCategory === 'TRANSPORT'">Hora salida</h4>
        <p *ngIf="itemCategory === 'TRANSPORT'">{{ item.initialHour }}</p>
        <h4 *ngIf="itemCategory === 'TRANSPORT'">Hora llegada</h4>
        <p *ngIf="itemCategory === 'TRANSPORT'">{{ item.finalHour }}</p>

        <h4 *ngIf="itemCategory === 'ACCOMMODATION'">País</h4>
        <p *ngIf="itemCategory === 'ACCOMMODATION'" >{{ item.country }}</p>
        <h4 *ngIf="itemCategory === 'ACCOMMODATION'">Ciudad</h4>
        <p *ngIf="itemCategory === 'ACCOMMODATION'">{{ item.city }}</p>
        <h4 *ngIf="itemCategory === 'ACCOMMODATION'">Tipo de acomodación</h4>
        <p *ngIf="itemCategory === 'ACCOMMODATION'">{{ item.accommodationType }}</p>
        <h4 *ngIf="itemCategory === 'ACCOMMODATION'">Número de cuartos</h4>
        <p *ngIf="itemCategory === 'ACCOMMODATION'">{{ item.numberOfRooms }}</p>

        <h4 *ngIf="itemCategory === 'ALIMENTATION'">Tipo de comida</h4>
        <p *ngIf="itemCategory === 'ALIMENTATION'">{{ item.alimentationType }}</p>
        <h4 *ngIf="itemCategory === 'ALIMENTATION'">Calorias</h4>
        <p *ngIf="itemCategory === 'ALIMENTATION'">{{ item.calories }}</p>

        <h4>Detalle del servicio</h4>
        <p>{{ item.description }}</p>

        
        <blockquote>
            <div *ngIf="itemCategory === 'ECOTOUR'" [innerHTML]="item.itinerary"></div>
            <div *ngIf="itemCategory === 'BASIC'" [innerHTML]="item.packageDetails"></div>
        </blockquote>

</div>

<div class="row" *ngIf="itemParent !== null">
    <div class="col-md-3 col-sm-6">
        <div class="box text-uppercase">
            <h3>Paquete relacionado al servicio</h3>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="/categories/item/{{itemParent.itemId}}">
                    <img src="{{itemParent.urlImage}}" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>{{itemParent.name}}t</h3>
                <p class="price">${{itemParent.price}}</p>

            </div>
        </div>
        <!-- /.product -->
    </div>

</div>

<comment-item></comment-item>

<div class="box social" id="product-social">
    <h4>Comparte con tus amigos</h4>
    <p>
        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
        <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
    </p>
</div>


<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="box text-uppercase">
            <h3>Products viewed recently</h3>
        </div>
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product3.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product1.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product2.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>

            </div>
        </div>
        <!-- /.product -->
    </div>

</div>