<p class="text-muted lead">En nuestro portal ofrecemos los mejores planes a los mejores precios para que disfrutes de la magia de nuestra biodiversidad.</p>

<div class="row products">

    <div class="col-md-4 col-sm-6" *ngFor="#item of items">
        <div class="product">
            <div class="image">
                <a [routerLink]="['/Categories', 'Item','ItemDetail', {item : item.id}]" >
                    <img src="{{item.urlImage}}" alt="" class="img-responsive image1">
                </a>
            </div>
            <!-- /.image -->
            <div class="text">
                <h3><a [routerLink]="['/Categories', 'Item','ItemDetail', {item : item.id}]">{{ item.name }}</a></h3>
                <h4>{{ item.description }}</h4>
                <p class="price">${{ item.price }}</p>
                <p class="buttons">
                    <a [routerLink]="['/Categories', 'Item','ItemDetail', {item : item.id}]" class="btn btn-default">Ver Detalle</a>
                    <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </p>
            </div>
            <!-- /.text -->

            <div class="ribbon sale">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

        </div>
        <!-- /.product -->
    </div>
</div>
<!-- /.products -->

<div class="pages">

    <p class="loadMore">
        <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
    </p>

    <ul class="pagination">
        <li><a href="#">&laquo;</a>
        </li>
        <li class="active"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li><a href="#">&raquo;</a>
        </li>
    </ul>
</div>