<div class="row" id="productMain">
    <div class="col-sm-6">
        <div id="mainImage">
            <img src="{{ imageMain }}" alt="" class="img-responsive">
        </div>
        <!--
        <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
        </div>
         /.ribbon -->

         <!--
        <div class="ribbon new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
        </div>
         /.ribbon -->

    </div>
    <div class="col-sm-6">
        <div class="box">

            <form>
                <div class="sizes">

                    <h3>{{ item.name }}</h3>

                    <!-- /.icon 
                    <label for="size_s">
                        <a href="#">S</a>
                        <input type="radio" id="size_s" name="size" value="s" class="size-input">
                    </label>
                    -->

                    <p-rating [(value)]="val"></p-rating>

                </div>

                <p class="price">${{ item.price }}</p>

                <p class="text-center">
                    <button type="submit" class="btn btn-template-main" (click)="onAddCartItem(item)"><i class="fa fa-shopping-cart"></i>Agregar al carrito</button>
                    <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart-o"></i>
                    </button>
                </p>

            </form>
        </div>

        <div class="row" id="thumbs">
            <div class="col-xs-4" *ngFor="#image of item.media">
                <a href="{{image.url}}" class="thumb">
                    <img src="{{image.url}}" alt="" class="img-responsive">
                </a>
            </div>
        </div>
    </div>

</div>


<div class="box" id="details">
    <p>
        <h4>Nombre del Hotel</h4>
        <p>{{ item.name }}</p>
        <h4>País</h4>
        <p>{{ item.country }}</p>
        <h4>Ciudad</h4>
        <p>{{ item.city }}</p>
        <h4>Fecha de llegada</h4>
        <p>{{ item.dateStart }}</p>
        <h4>Fecha de salida</h4>
        <p>{{ item.dateEnd }}</p>
        <h4>Habitaciones</h4>
        <p>{{ item.room }}</p>
        <h4>Número de personas</h4>
        <p>{{ item.people }}</p>
        <h4>Detalle del servicio</h4>
        <p>{{ item.description }}</p>
        
        <blockquote>
            {{item.content}}
        </blockquote>
</div>

<comment-item></comment-item>

<div class="box social" id="product-social">
    <h4>Comparte con tus amigos</h4>
    <p>
        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
        <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
    </p>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="box text-uppercase">
            <h3>You may also like these products</h3>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product2.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>

            </div>
        </div>
        <!-- /.product -->
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product3.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product1.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>

</div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="box text-uppercase">
            <h3>Products viewed recently</h3>
        </div>
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product3.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product1.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>
            </div>
        </div>
        <!-- /.product -->
    </div>


    <div class="col-md-3 col-sm-6">
        <div class="product">
            <div class="image">
                <a href="#">
                    <img src="img/product2.jpg" alt="" class="img-responsive image1">
                </a>
            </div>
            <div class="text">
                <h3>Fur coat</h3>
                <p class="price">$143</p>

            </div>
        </div>
        <!-- /.product -->
    </div>

</div>