<form  (ngSubmit)="onSubmit(model)" #housingForm="ngForm">
<br/>
<div class="row">
    <div class="col-sm-6">
        <div class="alert alert-success alert-dismissible" role="alert" [hidden]="!createOk">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            {{ okMessage }}
        </div>
        <div class="form-group">
            <label for="name">Nombre del paquete:</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" ngControl="name" #name="ngForm">
            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="name.valid || name.pristine">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                Nombre vacío o inválido.
            </div>
        </div>
        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" class="form-control" id="price" required [(ngModel)]="model.price" ngControl="price" #price="ngForm">
            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="price.valid || price.pristine">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                Precio vacío o inválido.
            </div>
        </div>
        
        <div class="form-group">
            <label for="city">Imagen Url:</label>
            <input type="url" class="form-control" id="image" required [(ngModel)]="model.urlImage" ngControl="image" #image="ngForm">
            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="image.valid || image.pristine">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                Imagen vacío o inválido.
            </div>
        </div>
        <div class="form-group">
            <label for="city">Tags:</label>
            <input type="text" class="form-control" id="tag" [(ngModel)]="model.tags">
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea id="description" class="form-control editor" required [(ngModel)]="model.description" ngControl="description" #description="ngForm"></textarea>
            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="description.valid || description.pristine">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                Descripción vacío o inválido.
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-template-main" ><i class="fa fa-floppy-o"></i> Crear Paquete</button>
        </div>
    </div>
    <br/>   
</div>
<!-- /.row -->
</form>