<div class="panel-heading">
    <h3 class="panel-title">Proveedores</h3>
    <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Limpiar</span></a>
</div>

<div class="panel-body">

    <form>
        <div class="form-group">
            <div class="checkbox" *ngFor="#provider of providers">
                <label>
                    <input type="checkbox" (click)="onSelect(provider)">{{ provider.fullName }} ({{ 0 }})
                </label>
            </div>
        </div>

        <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Aplicar</button>

    </form>

</div>