<!-- *** JUMBOTRON ***
_________________________________________________________ -->

<div class="jumbotron">

    <div class="dark-mask"></div>

    <div class="container">
        <div class="row mb-small">
            <div class="col-sm-12 text-center">
                <h1>Vive la naturaleza</h1>
                <h2>Busca los mejores lugares para disfrutar de nuestra riqueza natural.</h2>
            </div>
        </div>

        <div class="row">
            <div class="input-group">
              <input type="text" class="form-control" aria-label="..." placeholder = "Buscar mi próximo lugar...">
              <div class="input-group-btn">
                <!-- Button and dropdown menu 
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtro <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Categoría</label>
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Proveedor</label>
                    </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Descripción</label>
                    </div>
                  </li>
                </ul>
                -->
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                
              </div>
            </div>
        </div>
    </div>
</div>