<!-- *** JUMBOTRON ***
_________________________________________________________ -->

<div class="jumbotron">

    <div class="dark-mask"></div>

    <div class="container">
        <div class="row mb-small">
            <div class="col-sm-12 text-center">
                <h1>Vive la naturaleza</h1>
                <h2>Busca los mejores lugares para disfrutar de nuestra riqueza natural.</h2>
            </div>
        </div>

        <div class="row">
            <div class="input-group">
              <input type="text" class="form-control" aria-label="..." placeholder = "Buscar mi próximo lugar..." [(ngModel)]="searchDescription" >
              <div class="input-group-btn">
                
                <button class="btn btn-default" type="button" (click) = "onSearch()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                
              </div>
            </div>
        </div>
    </div>
</div>