<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Mi carrito de compras</h1>
            </div>
            <div class="col-md-6">
                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a>
                    </li>
                    <li>Carrito de compras</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <p class="text-muted lead">Tiene actualmente {{totalItems}} item(s) en su carrito.</p>
            </div>


            <div class="col-md-9 clearfix" id="basket">

                <div class="box">

                    
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Servicio</th>
                                        <th>Cantidad</th>
                                        <th>Precio por unidad</th>
                                        <th>Descuento</th>
                                        <th colspan="2">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="#item of carBucket">
                                        <td>
                                            <a href="/categories/item/{{item.id}}">
                                                <img src="{{item.image}}" alt="White Blouse Armani">
                                            </a>
                                        </td>
                                        <td><a href="/categories/item/{{item.id}}">{{item.name}}</a>
                                        </td>
                                        <td>
                                            <input type="number" [(ngModel)]="item.amount" class="form-control" (ngModelChange)="getTotalItem(item)">
                                        </td>
                                        <td>${{item.price}}</td>
                                        <td>${{item.discount}}</td>
                                        <td>${{item.totalPrice}}</td>
                                        <td><a (click)="onDeleteCarItem(item)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5">Total</th>
                                        <th colspan="2">${{totalBucketPrice}}</th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.table-responsive -->

                        <div class="box-footer">
                            <div class="pull-left">
                                <a href="/categories" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continuar comprando</a>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-template-main" (click)="goPayload()">Realizar pago <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>

                </div>
                <!-- /.box -->

                <div class="row">
                    <div class="col-md-3">
                        <div class="box text-uppercase">
                            <h3>Productos que también te pueden interesar</h3>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="product">
                            <div class="image">
                                <a href="shop-detail.html">
                                    <img src="img/product2.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <div class="text">
                                <h3><a href="shop-detail.html">Fur coat</a></h3>
                                <p class="price">$143</p>

                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3">
                        <div class="product">
                            <div class="image">
                                <a href="shop-detail.html">
                                    <img src="img/product3.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <div class="text">
                                <h3><a href="shop-detail.html">Fur coat</a></h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3">
                        <div class="product">
                            <div class="image">
                                <a href="shop-detail.html">
                                    <img src="img/product1.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <div class="text">
                                <h3><a href="shop-detail.html">Fur coat</a></h3>
                                <p class="price">$143</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                </div>

            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">
                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Resumen de la compra</h3>
                    </div>
                    <p class="text-muted">Impuestos y costos adicionales son calculados en base al valor de cada servicio.</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Subtotal</td>
                                    <th>${{totalBucketPrice}}</th>
                                </tr>
                                <tr>
                                    <td>Valor Seguros</td>
                                    <th>${{insurancePrice}}</th>
                                </tr>
                                <tr>
                                    <td>Impuestos (16%)</td>
                                    <th>${{tax * totalBucketPrice}}</th>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>${{totalBucketPrice + (tax * totalBucketPrice)}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="box">
                    <div class="box-header">
                        <h4>Código del cupón</h4>
                    </div>
                    <p class="text-muted">Si tu tienes un cupón ingrésalo y hazlo efectivo.</p>
                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

			    <button class="btn btn-template-main" type="button"><i class="fa fa-gift"></i></button>

			</span>
                        </div>
                        <!-- /input-group -->
                    </form>
                </div>

            </div>
            <!-- /.col-md-3 -->

        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->