<!-- *** LOGIN MODAL END *** -->

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Registrarse / Ingresar</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li>Registrarse / Ingresar</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Registrarse</h2>

                    <p class="lead">No tienes cuenta aún?</p>
                    <p>Crea tu nueva cuenta y empieza a disfrutar de los mas maravillosos paisajes ecológicos de nuestro país.!</p>
                    <p class="text-muted">Si tienes alguna pregunta, favor  <a href="contact.html">contáctanos</a>, nuestro personal estará disponble para tí 24/7.</p>

                    <hr>

                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <label for="name-login">Name</label>
                            <input type="text" class="form-control" id="name-login">
                        </div>
                        <div class="form-group">
                            <label for="email-login">Email</label>
                            <input type="text" class="form-control" id="email-login">
                        </div>
                        <div class="form-group">
                            <label for="password-login">Password</label>
                            <input type="password" class="form-control" id="password-login">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-user-md"></i> Register</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Login</h2>

                    <p class="lead">Ya tienes una cuenta?</p>
                    <p class="text-muted">Ingresa con tu cuenta para disfrutar de los mejores lugares de nuestro país.</p>

                    <hr>

                    <form action="customer-orders.html" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->