<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Registrarse / Ingresar</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li>Registrarse / Ingresar</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Registrarse</h2>

                    <p class="lead">No tienes cuenta aún?</p>
                    <p>Crea tu nueva cuenta y empieza a disfrutar de los mas maravillosos paisajes ecológicos de nuestro país.!</p>
                    <p class="text-muted">Si tienes alguna pregunta, favor  <a href="">contáctanos</a>, nuestro personal estará disponble para tí 24/7.</p>

                    <div class="alert alert-success alert-dismissible" role="alert" [hidden]="!registerOk">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        {{ okMessage }}
                    </div>

                    <hr>

                    <form (ngSubmit)="onRegister(register)" #registerForm="ngForm" method="post">
                        <div class="form-group">
                            <label for="name-login">Nombre:</label>
                            <input type="text" class="form-control" id="name-login" required [(ngModel)]="register.fullName" ngControl="fullName" #fullName="ngForm">
                            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="fullName.valid || fullName.pristine">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                Nombre vacío o inválido.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name-login">Usuario:</label>
                            <input type="text" class="form-control" id="name-login" required [(ngModel)]="register.username" ngControl="username" #username="ngForm">
                            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="username.valid || username.pristine">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                Usuario vacío o inválido.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email-login" >Email:</label>
                            <input type="email" class="form-control" id="email-login" required [(ngModel)]="register.email" ngControl="email" #email="ngForm">
                            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="email.valid || email.pristine">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                Email vacío o inválido.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password-login">Password:</label>
                            <input type="password" class="form-control" id="password-login" required [(ngModel)]="register.password" ngControl="password" #password="ngForm">
                            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="password.valid || password.pristine">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                Password vacío o inválido.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone-login">Ocupación:</label>
                            <input type="text" class="form-control" id="phone-login" [(ngModel)]="register.jobTitle" >
                        </div>
                        <div class="form-group">
                            <label for="address-login">Dirección:</label>
                            <input type="text" class="form-control" id="address-login" [(ngModel)]="register.address">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main" [disabled]="!registerForm.form.valid"><i class="fa fa-user-md" ></i> Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <h2 class="text-uppercase">Login</h2>

                    <p class="lead">Ya tienes una cuenta?</p>
                    <p class="text-muted">Ingresa con tu cuenta para disfrutar de los mejores lugares de nuestro país.</p>

                    <hr>

                    <form (ngSubmit)="onLogin(login)" #loginForm="ngForm" method="post">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" required [(ngModel)]="login.email" ngControl="emailLogin" #emailLogin="ngForm">
                            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="emailLogin.valid || emailLogin.pristine">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                Email vacío o inválido.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" required [(ngModel)]="login.password" ngControl="passwordLogin" #passwordLogin="ngForm">
                            <div class="alert alert-danger alert-dismissible" role="alert" [hidden]="passwordLogin.valid || passwordLogin.pristine">
                                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                Password vacío o inválido.
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main" [disabled]="!loginForm.form.valid"><i class="fa fa-sign-in"></i> Log in</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->