Usuarios
Cliente
Administrador
Proveedor
Administracion
AdministrarCategorias
ConfigurarMP
MonitoreoRendimiento
ConsultarHistorialCompras
Registro
RegistrarTwitter
RegistarFacebook
Catologo
AdministrarCatalogoItem
BuscarItem
PorProveedor
PorTipo
VerDescripcioncompleta
RealizarPreguntas
Compras
ComprarItem
ValidarTransaccion
Mensajes
HacerConversacion
EnviarMensajes
RecibirMensajes
Notificaciones
Reportes
ReporteBusquedaporProveedor
IniciarSesion
IniciarSesionTwitter
